[Desktop Entry]
Type=Application
Name=Pano Scrobbler
Comment=Feature packed music tracker
StartupWMClass=pano-scrobbler
Exec=
Icon=
Categories=AudioVideo;Audio;
Terminal=false
StartupNotify=true
NoDisplay=false
