*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

*.log
/build
/composeApp/src/commonMain/kotlin/com/arn/scrobble/Tokens.kt
/composeApp/src/commonMain/composeResources/files/aboutlibraries.json
/composeApp/resources/linux/*.so
/composeApp/resources/windows/*.dll
/baselineProfile/src/main/java/com/arn/scrobble/baselineprofile/Secrets.kt
/psd/renders
/composeApp/*.json
/composeApp/src/commonTest/kotlin/com/arn/scrobble/AuthTest.kt
/composeApp/src/desktopTest/kotlin/com/arn/scrobble/DesktopAuthTests.kt
/composeApp/release-builds
/composeApp/src/release/generated
/composeApp/src/releaseGithub/generated
/composeApp/src/androidMain/res/**/strings-np.xml
/composeApp/src/androidMain/res/**/strings-android.xml
/composeApp/src/commonMain/composeResources/files/embedded_server.bks
/buildSrc/build/tmp
/misc/profilerDumps
.privado
crowdin.properties
Gemfile.lock
.jekyll-cache
_site/