*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

*.log
*.backup
/build
/composeApp/src/commonMain/kotlin/com/arn/scrobble/Tokens.kt
/composeApp/resources/**/*.so
/composeApp/resources/**/*.dll
/composeApp/resources/**/*.dylib
/baselineprofile/src/main/java/com/arn/scrobble/baselineprofile/Secrets.kt
/psd/renders
/composeApp/*.json
/composeApp/src/commonTest/kotlin/com/arn/scrobble/AuthTest.kt
/composeApp/src/desktopTest/kotlin/com/arn/scrobble/DesktopAuthTests.kt
/composeApp/dist
composeApp/src/androidRelease/generated
composeApp/src/androidReleaseGithub/generated
/composeApp/src/androidMain/res/**/strings-np.xml
/composeApp/src/androidMain/res/**/strings-android.xml
/composeApp/src/**/composeResources/files/pano-embedded-server-ks.bks
/composeApp/src/**/composeResources/files/pano-embedded-server-ks.jks
/composeApp/src/**/composeResources/files/aboutlibraries.json
/composeApp/src/**/composeResources/files/musicbrainz_artist_hashes.bin
crowdin.properties
Gemfile.lock
.jekyll-cache
_site/
composeApp/appimage-files/appimagetool-*.AppImage