*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

*.log
*.backup
/build
/composeApp/resources/**/*.so
/composeApp/resources/**/*.dll
/composeApp/resources/**/*.dylib
/baselineprofile/src/main/java/com/arn/scrobble/baselineprofile/Secrets.kt
/composeApp/*.json
/androidApp/*.json
/composeApp/src/commonTest/kotlin/com/arn/scrobble/AuthTest.kt
/composeApp/src/desktopTest/kotlin/com/arn/scrobble/DesktopAuthTests.kt
/dist
androidApp/src/release/generated
androidApp/src/releaseGithub/generated
/composeApp/src/**/composeResources/files/aboutlibraries.json
/composeApp/src/**/composeResources/files/*.md
/composeApp/valkyrie-cli
crowdin.properties
Gemfile.lock
.jekyll-cache
_site/