[Desktop Entry]
Type=Application
Name=Pano Scrobbler
Comment=Feature packed music tracker
StartupWMClass=pano-scrobbler
Exec=pano-scrobbler %U
Icon=pano-scrobbler
Categories=AudioVideo;Audio;
Terminal=false
StartupNotify=true
NoDisplay=false
