<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.android.vending.BILLING" />

    <application>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <!--  do not use FOREGROUND_SERVICE_SPECIAL_USE on play store builds due to play store restrictions  -->
        <service
            android:name="com.arn.scrobble.media.PersistentNotificationService"
            android:exported="false"
            android:process=":bgScrobbler" />
    </application>
</manifest>