<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.arn.scrobble"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.Manifest.permission.MEDIA_CONTENT_CONTROL" />
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_app"
        android:label="ytScrobbler"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter android:label="@string/authorize">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="ytscrobble"
                      android:host="auth" />


            </intent-filter>

        </activity>
        <service android:name=".NLService"
                 android:label="@string/app_name"
                 android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
        <intent-filter>
            <action android:name="android.service.notification.NotificationListenerService" />
        </intent-filter>
        </service>
    </application>
</manifest>