[Desktop Entry]
Type=Application
Name=Pano Scrobbler
Comment=Feature packed music tracker
StartupWMClass=pano-scrobbler
Exec=AppRun %U
Icon=pano-scrobbler
Categories=Utility;
Terminal=false
StartupNotify=true
NoDisplay=false
