<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.arn.scrobble.main.App"
        android:icon="@mipmap/ic_launcher"
        android:localeConfig="@xml/locales_config"
        tools:targetApi="BAKLAVA" />
</manifest>